<p-panel header="Estudiantes">
	<div class="col-sm-12">
    <div class='pull-right'>
      <button class="btn btnSave ng-binding" (click)="modalAddEstudiante(addEstudiante)">
        <i class="fa fa-user-plus iconAdd" aria-hidden="true"></i>
        Adicionar estudiantes
      </button>
    </div>
    <br>
    <app-tabla-info [infoPer]="estudiantes"></app-tabla-info>
  </div>
</p-panel>

<ng-template #addEstudiante>
	<div class="modal-header">
		<label>Adicionar estudiante</label>
	</div>
  <app-modal-add [modalRef]="modalRef" [estudiantes]="estudiantes" #infoPer></app-modal-add>
</ng-template>



